

<title>Conditions Brabus Car</title>
<meta name="description" content="Brabus Car le leader de location de voiture vous propose un large choix de voiture de différant types 4X4 berline  coupé ... et vous garantie les prix  les plus bas  et vous payer à l'agence et peut vous livré les véhicules où vous voulez sans frais supplémentaires">
<meta name="keywords" content="location,agence de location de voitures,location voiture,location voiture maroc,location au voiture,brabus car,rabat,location voiture rabat,location voiture casablanca,location voiture marrakech">
<meta name="author" content="Location Brabus Car">


@{
    ViewBag.Title = "condition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12 " style="border: 6px #faad81  solid ;padding :inherit; margin : inherit">
    <center>  <h2 style=" padding :5px; margin : 5px"><u>Nos Conditions </u></h2></center>
    <p style=" padding :5px; margin : 5px">
        Nos prix et nos conditions générales sont modifiables sans préavis, <br />
        <b>Informations Générales:</b><br />
        - Durée minimale de location : 3 jours,<br />
        <b>Age et permis de conduire</b>   <br />
        - Le permis doit être obligatoirement présenté à chaque location,<br />
        - Les attestations de perte ou de vol sont catégoriquement refusées,<br />
        - Age minimum : 21 ans + une année de validité de permis.<br />
        <b>Moyens de paiement acceptés:</b><br />
        - Une Caution en carte de crédit (VISA, MASTER CARD) ou espèce vous sera réclamée à la prise du véhicule. Celle-ci doit impérativement être à vos nom et prénom.<br />
        - Dans le cas de l'application d'un tarif promotionnel, le non-respect de la durée de location prévue lors de la prise en charge du véhicule, entraînera systématiquement la facturation du tarif public en vigueur selon la période. <br />
        Paiement : Le règlement s'effectue au moment de la prise en charge de véhicule en euro espèce ou léquivalant en Dirham monnaie local.<br />
        <b>Nos tarifs comprennent:</b> <br />
        L'huile, l'entretien et les documents de bord. La mise à disposition du véhicule. Le kilométrage illimité. Le conducteur supplémentaire. L'assurance responsabilité civile illimitée et accidents causés aux tout-risque.<br />
        <b>Nos tarifs ne comprennent pas:</b> <br />
        Carburant : les véhicules doivent être restitués avec le même niveau de carburant qu'au départ. Dans le cas contraire, le carburant manquant sera facturé au prix public. Location longue durée :<br />
        - Sur demande, des tarifs très avantageux pour toute location de plus d'un mois.<br />
        - Les tarifs journaliers sont calculés sur la base de 24 heures.<br />
        - Les tarifs hebdomadaires sont calculés sur la base de 7 jours consécutifs.<br />
        <br /><br />
        <b>Bon voyage et bonne route avec Brabus Car...</b>
    </p>
</div>

<div class="clearfix"> </div>
