<!-- header -->
<title>Location Brabus Car</title>

<div class="header-top">
    <p>
        <i class="fa fa-map-marker" aria-hidden="true"></i>Rabat, Morocco
    </p>
</div>
<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h6>
                        4X4
                        <span>De Luxe</span>
                    </h6>
                    <h3>
                        Range
                        <span> Rover</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="item item2">
            <div class="container">
                <div class="carousel-caption">
                    <h6>
                        Welcome to
                        <span>Rabat</span>
                    </h6>
                    <h3>
                        <span>Ville</span> Des Lumiéres
                    </h3>
                </div>
            </div>
        </div>
        <div class="item item4">
            <div class="container">
                <div class="carousel-caption">
                    <h6>
                        La classe
                        
                    </h6>
                    <h3>
                        La Fameuse
                        <span> Peugeot 508</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="container">
                <div class="carousel-caption">
                    <h6>
                        Bienvenue a 
                        <span>Rabat</span>
                    </h6>
                    <h3>
                        <span>La Ville</span> Des Lumiéres
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!-- The Modal -->
</div>
<!--//banner -->
<!-- about -->

<div class="address" id="contact">
    <div class="container">
        <h3 class="title">Effectuer une réservation </h3>
        <div class="address-row">
            <div class="col-md-6 col-xs-6 address-right">
                <div class="address-info wow fadeInRight animated" data-wow-delay=".5s">
                    <h4>Coordonnées</h4>
                    <p> <b>Adresse :</b>  17 Rue dayet Roumi,Imm B,Agdal-Rabat.</p> <br />
                    <p> <b>Tel :</b> &nbsp; +212 661 339 422  / +212 537 680 908</p> <br />
                    <p>
                        <b>Mail :</b>  <a href="mailto:Brabuscar@gmail.com"> Brabuscar@gmail.com</a>
                    </p>
                </div>
               
                
                <div class="address-info address-mdl wow fadeInRight animated" data-wow-delay=".20s">
                    <h4>Localisation </h4>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.4314729963326!2d-6.851469485354158!3d34.00713402755441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda76c89df29cf69%3A0x6b4393c3dd994b97!2s17+Rue+Dayet+Erroumi%2C+Rabat!5e0!3m2!1sfr!2sma!4v1532622990756" width="486" height="368" frameborder="0" style="border:0" allowfullscreen></iframe>

                </div>
                <div class="address-info address-mdl wow fadeInRight animated" data-wow-delay=".20s">
                    <h4>Nos Avantages : </h4>
                    <ul>
                        <li>
                            Prix bas
                        </li>
                        <li>

                            Pas de frais de carte bancaire
                        </li>
                        <li>
                            Annulation gratuite
                        </li>
                        <li>
                            Assistance 24h/24 7J/7
                        </li>

                        <li>
                            Importante sélection de voitures
                        </li>

                    </ul>
                   
                    
                
                  
                </div>
            </div>
            <div class="col-md-6 col-xs-6 address-left wow agile fadeInLeft animated" data-wow-delay=".5s">
                <div class="address-grid">
                    <h4 class="wow fadeIndown animated" data-wow-delay=".5s">Demander une réservation</h4>
                    <form id="userForm" method="post">
                        <div class="form-group row">
                            <label for="inputPassword" class="col-md-6 col-form-label">Nom et Prénom : </label>
                            <div class="col-md-6">
                                <input type="text" name="nom" class="form-control" placeholder="Ex : BenTata Omar " required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-md-6 col-form-label">Email : </label>
                            <div class="col-md-6">
                                <input type="email" name="email" class="form-control" placeholder="Ex : geny@gmail.com " required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-md-6 col-form-label">Tél : </label>
                            <div class="col-md-6">
                                <input type="text" name="tel" class="form-control" placeholder="Ex : 0617748596 " required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-md-6 col-form-label">Véhicule : </label>
                            <div class="col-md-6">
                                <select class="form-control" name="vhc">
                                    <option value="Kia Picanto Automatique">Kia Picanto Automatique</option>
                                    <option value="Seat Ibiza">Seat Ibiza</option>
                                    <option value="Dacia Logane">Dacia Logane Laureate</option>
                                    <option value="Peogeot 301">Peogeot 301</option>
                                    <option value="Clio 4 manuelle">Clio 4 manuelle </option>
                                    <option value="Hyendai Accent Automatique">Hyendai Accent Automatique</option>
                                    <option value="Hyendai I30 Automatique">Hyendai I30 Automatique</option>
                                    <option value="Clio 4 Automatique">Clio 4 Automatique</option>
                                    <option value="Dacia Duster">Dacia Duster</option>
                                    <option value="Toyota Corrolla">Toyota Corrolla</option>
                                    <option value="Hyendai Elentra">Hyendai Elentra</option>
                                    <option value="Renault Megane 4">Renault Megane 4</option>
                                    <option value="Passat CC">Passat CC</option>
                                    <option value="Peogeot 508">Peogeot 508</option>
                                    <option value="Touareg V6 cuir  confort automatique">Touareg V6 cuir  confort automatique </option>
                                    <option value="Range Rover Evoque automatique">Range Rover Evoque automatique</option>
                                    <option value="Toyota Prado TX automatique">Toyota Prado TX automatique</option>
                                    <option value="Range Rover Sport">Range Rover Sport</option>


                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword" class="col-md-6 col-form-label">Date de départ :</label>
                            <div class="col-md-6">
                                <input type="date" class="form-control" name="datedep">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword" class="col-md-6 col-form-label">Heure de départ : </label>
                            <div class="col-md-3">
                                <select class="form-control" name="hdepart">
                                    <option value="00">00</option>
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <select class="form-control" name="mindep">
                                    <option value="00">00</option>
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>

                                    <option value="31">31</option>
                                    <option value="32">32</option>
                                    <option value="33">33</option>
                                    <option value="34">34</option>
                                    <option value="35">35</option>
                                    <option value="36">36</option>
                                    <option value="37">37</option>
                                    <option value="38">38</option>
                                    <option value="39">39</option>
                                    <option value="40">40</option>
                                    <option value="41">41</option>
                                    <option value="42">42</option>
                                    <option value="43">43</option>
                                    <option value="44">44</option>
                                    <option value="45">45</option>
                                    <option value="46">46</option>
                                    <option value="47">47</option>
                                    <option value="48">48</option>
                                    <option value="49">49</option>
                                    <option value="50">50</option>
                                    <option value="51">51</option>
                                    <option value="52">52</option>
                                    <option value="53">53</option>
                                    <option value="54">54</option>
                                    <option value="55">55</option>
                                    <option value="56">56</option>
                                    <option value="57">57</option>
                                    <option value="58">58</option>
                                    <option value="59">59</option>

                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword" class="col-md-6 col-form-label">Date de Retour :</label>
                            <div class="col-md-6">
                                <input type="date" class="form-control" name="dateret">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword" class="col-md-6 col-form-label">Heure de Retour : </label>
                            <div class="col-md-3">
                                <select class="form-control" name="hretour">
                                    <option value="00">00</option>
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <select class="form-control" name="minret">
                                    <option value="00">00</option>
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>

                                    <option value="31">31</option>
                                    <option value="32">32</option>
                                    <option value="33">33</option>
                                    <option value="34">34</option>
                                    <option value="35">35</option>
                                    <option value="36">36</option>
                                    <option value="37">37</option>
                                    <option value="38">38</option>
                                    <option value="39">39</option>
                                    <option value="40">40</option>
                                    <option value="41">41</option>
                                    <option value="42">42</option>
                                    <option value="43">43</option>
                                    <option value="44">44</option>
                                    <option value="45">45</option>
                                    <option value="46">46</option>
                                    <option value="47">47</option>
                                    <option value="48">48</option>
                                    <option value="49">49</option>
                                    <option value="50">50</option>
                                    <option value="51">51</option>
                                    <option value="52">52</option>
                                    <option value="53">53</option>
                                    <option value="54">54</option>
                                    <option value="55">55</option>
                                    <option value="56">56</option>
                                    <option value="57">57</option>
                                    <option value="58">58</option>
                                    <option value="59">59</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword" class="col-md-6 col-form-label">Lieu de livraison:</label>
                            <div class="col-md-6">
                                <select class="form-control" name="lieuxliv">
                                    <option value="port">Aéroport</option>
                                    <option value="Centre ville">Centre ville</option>
                                    <option value="Agence">Agence</option>


                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword" class="col-md-6 col-form-label">Lieu de récupération : </label>
                            <div class="col-md-6">
                                <select class="form-control" name="lieuxrec">
                                    <option value="port">Aéroport</option>
                                    <option value="Centre ville">Centre ville</option>
                                    <option value="Agence">Agence</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword" class="col-md-6 col-form-label">Option:</label>
                            <div class="col-md-6">
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" name="gPs" value="GPS">
                                    <label class="form-check-label" for="exampleCheck1">GPS</label>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" name="Siegeb" value="Siège-bébé">
                                    <label class="form-check-label" for="exampleCheck1">Siège bébé</label>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" name="Barretoit" value="Barre_de_toit">
                                    <label class="form-check-label" for="exampleCheck1">Barre de toit</label>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" name="Deuxconducteur" value="Deuxiéme-conducteur">
                                    <label class="form-check-label" for="exampleCheck1">Deuxiéme conducteur</label>
                                </div>
                                <div class="form-group ">
                                    <input type="submit" class="btn btn-secondary" name="submit1" value="Réserver" id="btn5">
                                </div>
                                <div class="form-group row">

                                    <div class="col-md-12">
                                        <h6><b> PS : Votre réservation sera reçu et traité le plus vite possible et vous receverez une réponse par email où via votre télephone</b> </h6>
                                        <br />
                                        <h6><b>La réservation est gratuite, le paiement se fais au moment de la livraison.Merci d'avoir choisie Brabus Car A trés bientot</b> </h6>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- //about -->
<!-- popular -->
<div class="popular-w3" id="popular">
    <div class="container">
        <h3 class="title">Rabat Ville Lumière</h3>
        <div class="popular-grids">
            <div class="col-md-4 popular-grid">
                <img src="~/images/s1.jpg" class="img-responsive" alt="" />
                <div class="popular-text">
                    <h5><b><font color="#000000">Tour Hassan</font></b></h5>
                    <div class="detail-bottom">
                        <p><b><font color="#000000">La Tour Hassan est un minaret historique jamais terminé, cet édifice devait être non seulement la plus grande mosquée mais aussi le plus grand monument religieux du monde au XIIe siècle.</font></b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 popular-grid">
                <img src="~/images/s3.jpg" class="img-responsive" alt="" />
                <div class="popular-text sec">
                    <h5><b>Marina Bouregreg</b></h5>
                    <div class="detail-bottom">
                        <p><b>Bouregreg Marina est située à l’embouchure du fleuve Bouregreg, sur la rive de Salé. A l’abri des vagues atlantiques, elle est bordée de prestigieux sites historiques, comme l’esplanade de la Tour Hassan ou la pittoresque Nécropole Chellah qui a vu défiler nombre de civilisations méditerranéennes.</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 popular-grid">
                <img src="~/images/s2.jpg" class="img-responsive" alt="" />
                <div class="popular-text">
                    <h5><b><font color="#0A016F" size="5">Kasbah Des Oudayas</font></b></h5>
                    <div class="detail-bottom">
                        <p>
                            <b>
                                <font color="#0A016F">
                                    La Kasbah a été construite au 12ème siècle par les Almohades, les moines soldats s'installèrent dans cette Kasbah : le ribat, couvent/monastère fortifié. Ces moines partaient en guerre en Espagne. Rabat doit son nom à ce lieu : Ribat.
                                </font>
                            </b>
                        </p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //popular -->
<!-- Services -->
<div class="why-choose-agile" id="services">
    <div class="container">
        <h3 class="title">10 Raison Pour Louer Un véhicule Chez Nous</h3>
        <div class="why-choose-agile-grids-top">
            <div class="col-md-6 col-xs-6 agileits-w3layouts-grid">
                <div class="wthree_agile_us">
                    <div class="col-xs-9 agile-why-text">
                        <h4>Véhicule en trés bon état</h4>
                        <p>La flotte Brabus car est très variée, pour répondre à tous les goûts et les besoins des clients. Tous les véhicules de Brabus car sont neufs, bien entretenus et régulièrement pour maintenir nos hauts standards.</p>
                    </div>
                    <div class="col-xs-3 agile-why-text">
                        <div class="wthree_features_grid hvr-rectangle-out">
                            <i class="fa fa-car" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="wthree_agile_us">
                    <div class="col-xs-9 agile-why-text">
                        <h4>Assistance 24H/24 7J/7</h4>
                        <p>Un problème sur la route ? Pas de soucis, vous bénéficiez d'une assistance 24/24 et 7/7 partout au Maroc lorsque vous louez une voiture auprès de Brabus Car.</p>
                    </div>
                    <div class="col-xs-3 agile-why-text">
                        <div class="wthree_features_grid hvr-rectangle-out">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="wthree_agile_us">
                    <div class="col-xs-9 agile-why-text">
                        <h4>Protection contre le vol et l'incendie</h4>
                        <p>Pour votre protection, Brabus car vous propose aussi l'assurance contre le vol et l'incendie</p>
                    </div>
                    <div class="col-xs-3 agile-why-text">
                        <div class="wthree_features_grid hvr-rectangle-out">
                            <i class="fa fa-fire" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <br />   <br />
                <div class="wthree_agile_us">
                    <div class="col-xs-9 agile-why-text">
                        <h4>Remplacement en cas de panne</h4>
                        <p> En cas de panne, Brabus car remplace votre voiture de location très rapidement, avec un sur-classement et remboursement en espèce de la journée entière.</p>
                    </div>
                    <div class="col-xs-3 agile-why-text">
                        <div class="wthree_features_grid hvr-rectangle-out">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <br />   <br />
                <div class="wthree_agile_us">
                    <div class="col-xs-9 agile-why-text">
                        <h4>Pas de "ou similaire" </h4>
                        <p>Chez Brabus car, on considère que deux voitures ne sont jamais similaires. C'est pour cela, nous vous assurons que la voiture livrée sera exactement la voiture réservée.</p>
                    </div>
                    <div class="col-xs-3 agile-why-text">
                        <div class="wthree_features_grid hvr-rectangle-out">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-6 agileits-w3layouts-grid">
                <div class="wthree_agile_us">
                    <div class="col-xs-9 agile-why-text">
                        <h4>Livraison et restitution gratuites</h4>
                        <p> Brabus car offre aussi la livraison et la récupération du véhicule à l'aéroport ou à votre hôtel de séjour GRATUITEMENT 24h/24 et 7/7 où que vous soyez .</p>
                    </div>
                    <div class="col-xs-3 agile-why-text">
                        <div class="wthree_features_grid hvr-rectangle-out">
                            <i class="fa fa-truck" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="wthree_agile_us">
                    <div class="col-xs-9 agile-why-text">
                        <h4>Assurance et franchise</h4>
                        <p> Brabus car propose à ses clients l'assurance tout risque avec la franchise la moins chère au marché pour vous assurer la tranquillité de l'esprit.</p>
                    </div>
                    <div class="col-xs-3 agile-why-text">
                        <div class="wthree_features_grid hvr-rectangle-out">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="wthree_agile_us">
                    <div class="col-xs-9 agile-why-text">
                        <h4>Kilométrage ilimité</h4>
                        <p> Si vous planifiez de faire un long road-trip ou tout simplement vous ne saviez pas à quel point vous conduirez, avec Brabus car, la distance n'a pas d'importance. Brabus car vous donne plus de flexibilité avec le kilométrage illimité.</p>
                    </div>
                    <div class="col-xs-3 agile-why-text">
                        <div class="wthree_features_grid hvr-rectangle-out">
                            <i class="fa fa-road" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <br />   <br />
                <div class="wthree_agile_us">
                    <div class="col-xs-9 agile-why-text">
                        <h4>Assurance collision illimitée</h4>
                        <p>Parce que votre protection est notre souci permanant, Brabus car vous offre egalement l'assurance collision illimite</p>
                    </div>
                    <div class="col-xs-3 agile-why-text">
                        <div class="wthree_features_grid hvr-rectangle-out">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <br />   <br />
                <div class="wthree_agile_us">
                    <div class="col-xs-9 agile-why-text">
                        <h4>Personnel qualifiés</h4>
                        <p>Brabus Car met à votre service une équipe de personnel qualifies et professionnelles dans le domaine de location de voitures, afin mieux répondre à vos besoins méme les plus pointu</p>
                    </div>
                    <div class="col-xs-3 agile-why-text">
                        <div class="wthree_features_grid hvr-rectangle-out">
                            <i class="fa fa-male" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>





            </div>
            @*<div class="col-md-4 agileits-w3layouts-grid img">
                    <img src="~/images/abs.jpg" height="200" alt=" " class="img-responsive" />
                </div>*@
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->
<!-- projects -->
@*<div class="gallery" id="projects">
        <div class="container">
            <h3 class="title">Nos véhicules sports</h3>
            <div class="agile_gallery_grids w3-agile demo">
                <div class="col-md-4 col-sm-4 col-xs-4 gal-sec">
                    <div class="gallery-grid1">
                        <a title="Kia Picanto" href="images/g1.jpg">
                            <img src="~/images/g1.jpg" alt=" " class="img-responsive" />
                            <div class="p-mask">
                                <h4>Kia Picanto</h4>
                            </div>
                        </a>
                    </div>
                    <div class="gallery-grid1">
                        <a title="Renault clio 4" href="images/g2.jpg">
                            <img src="~/images/g2.jpg" alt=" " class="img-responsive" />
                            <div class="p-mask">
                                <h4>Renault clio 4</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 gal-sec">
                    <div class="gallery-grid1">
                        <a title="Hyuendai I30" href="images/gg3.jpg">
                            <img src="~/images/g3.jpg" alt=" " class="img-responsive" />
                            <div class="p-mask">
                                <h4>Hyuendai I30</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 gal-sec">
                    <div class="gallery-grid1">
                        <a title="Renault Megane 4" href="images/g4.jpg">
                            <img src="~/images/g4.jpg" alt=" " class="img-responsive" />
                            <div class="p-mask">
                                <h4>Renault Megane 4</h4>
                            </div>
                        </a>
                    </div>
                    <div class="gallery-grid1">
                        <a title="Seat Ibisa" href="images/g5.jpg">
                            <img src="~/images/g5.jpg" alt=" " class="img-responsive" />
                            <div class="p-mask">
                                <h4>Seat Ibisa</h4>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>*@
<!-- //projects -->
<!-- team -->
<!-- contact -->
<!--//contact-->
@section Scripts
{
    <!--email send-->

    <script>
              var form = $('#userForm');
    var url = '@Url.Action( "Index", "Reservation", null)';

    var successCallback = function (response) {
        alert(response);
    }

    var getoption = {
        method: 'POST',
        async: true,
        cache: false,
        sucsses: successCallback,
        error: e => console.log(e.responseText)
    };
    form.on('submit', function (e) {

        e.preventDefault();
        getoption.data = $(this).serialize();
        console.log('<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<');
        $.ajax(url, getoption);
        alert('Votre réservation a bien été reçu');
    }




    );

    </script>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!--//contact-->
    <!-- footer -->
    <script src="~/js/jquery-2.2.3.min.js"></script>
    <!-- bootstrap -->
    <script src="~/js/bootstrap.js"></script>

    <!--gallery -->
    <script src="~/js/jquery.chocolat.js"></script>
    <!--light-box-files -->
    <script>
        $(function () {
            $('.gallery-grid1 a').Chocolat();
        });
    </script>
    <!-- //gallery -->
    <!-- skills -->
    <script src="~/js/skill.bars.jquery.js"></script>
    <script>
        $(document).ready(function () {

            $('.skillbar').skillBars({
                from: 0,
                speed: 4000,
                interval: 100,
                decimals: 0,
            });

        });
    </script>
    <!-- //skills -->
    <!-- flexSlider -->
    <script defer src="~/js/jquery.flexslider.js"></script>
    <script>
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- //flexSlider -->
    <!-- smoothscroll -->
    <script src="~/js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->
    <!-- start-smooth-scrolling -->
    <script src="~/js/move-top.js"></script>
    <script src="~/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //footer -->
    <!-- js files -->
    <!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- bootstrap -->
    <script src="js/bootstrap.js"></script>

    <!--gallery -->
    <script src="js/jquery.chocolat.js"></script>
    <!--light-box-files -->
    <script>
        $(function () {
            $('.gallery-grid1 a').Chocolat();
        });
    </script>
    <!-- //gallery -->
    <!-- skills -->
    <script src="js/skill.bars.jquery.js"></script>
    <script>
        $(document).ready(function () {

            $('.skillbar').skillBars({
                from: 0,
                speed: 4000,
                interval: 100,
                decimals: 0,
            });

        });
    </script>
    <!-- //skills -->
    <!-- flexSlider -->
    <script defer src="js/jquery.flexslider.js"></script>
    <script>
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- //flexSlider -->
    <!-- smoothscroll -->
    <script src="js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->
    <!-- start-smooth-scrolling -->

    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- //js-files -->




}
